## Homework Week 2

In [61]:
import pandas as pd
import numpy as np

In [62]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
df = pd.read_csv(url)

In [63]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [64]:
df.groupby('ocean_proximity').median_house_value.agg(['count'])

                 count
ocean_proximity
<1H OCEAN         9136
INLAND            6551
ISLAND               5
NEAR BAY          2290
NEAR OCEAN        2658

In [65]:
df = df[(df['ocean_proximity'] == '<1H OCEAN') | (df['ocean_proximity'] == 'INLAND')]

In [66]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
701,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0,<1H OCEAN
830,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0,<1H OCEAN
859,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0,<1H OCEAN
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
861,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [67]:
df.groupby('ocean_proximity').median_house_value.agg(['count'])

                 count
ocean_proximity
<1H OCEAN         9136
INLAND            6551

In [68]:
df = df[['latitude','longitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income','median_house_value']]

In [69]:
df.sum()

latitude              5.563756e+05
longitude            -1.870164e+06
housing_median_age    4.265000e+05
total_rooms           4.181648e+07
total_bedrooms        8.405530e+06
population            2.300212e+07
households            7.857877e+06
median_income         5.967365e+04
median_house_value    3.011010e+09
dtype: float64

### Q1

In [70]:
df.isnull().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        157
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

**Answer = total_bedrooms**

## Q2

In [71]:
df.population.median()

1195.0

**Answer = 1195.0**

## Q3

In [72]:
def train_linear_regression(X, y):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w_full = XTX_inv.dot(X.T).dot(y)
    
    return w_full[0], w_full[1:]

In [73]:
n = len(df)

n_val = int(n * 0.2)
n_test = int(n * 0.2)
n_train = n - n_val - n_test

In [74]:
n

15687

In [75]:
n_val, n_test, n_train

(3137, 3137, 9413)

In [76]:
df_train = df.iloc[:n_train]
df_val = df.iloc[n_train:n_train+n_val]
df_test = df.iloc[n_train+n_val:]

In [77]:
idx = np.arange(n)

In [78]:
np.random.seed(42)
np.random.shuffle(idx)

In [79]:
df_train.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
701,37.64,-121.97,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0
830,37.61,-121.99,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0
859,37.57,-121.97,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0
860,37.58,-121.96,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0
861,37.58,-121.98,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0

In [80]:
df_train = df.iloc[idx[:n_train]]
df_val = df.iloc[idx[n_train:n_train+n_val]]
df_test = df.iloc[idx[n_train+n_val:]]

In [81]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [82]:
y_train = np.log1p(df_train.median_house_value.values)
y_val = np.log1p(df_val.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)

In [83]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [84]:
base = ['latitude','longitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income']

In [85]:
# Function for filling in missing values
def prepare_X(df, fillna_num):
    df_num = df[base]
    df_num = df_num.fillna(fillna_num)
    X = df_num.values
    return X

In [86]:
# Function for RMSE
def rmse(y, y_pred):
    se = (y - y_pred) ** 2
    mse = se.mean()
    return np.sqrt(mse)

In [87]:
# Using 0 to fill in missing values
X_train = prepare_X(df_train, fillna_num=0)
w0, w = train_linear_regression(X_train, y_train)

X_val = prepare_X(df_val, fillna_num=0)
y_pred = w0 + X_val.dot(w)
np.round(rmse(y_val, y_pred),2)

0.34

In [88]:
# Using Mean to fill in mising values
mean = df_train.total_bedrooms.mean()

X_train = prepare_X(df_train, fillna_num=mean)
w0, w = train_linear_regression(X_train, y_train)

X_val = prepare_X(df_val, fillna_num=mean)
y_pred = w0 + X_val.dot(w)

np.round(rmse(y_val, y_pred),2)

0.34

**Answer = both are the same values**

## Q4

In [89]:
for r in [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]:
    X_train = prepare_X(df_train, fillna_num=0)
    w0, w = train_linear_regression_reg(X_train, y_train, r=r)

    X_val = prepare_X(df_val, fillna_num=0)
    y_pred = w0 + X_val.dot(w)
    score = np.round(rmse(y_val, y_pred),2)
    
    print(r, w0, score)

0 -9.763249478052225 0.34
1e-06 -9.763228830851833 0.34
0.0001 -9.761185235851151 0.34
0.001 -9.742646249818254 0.34
0.01 -9.561056192964566 0.34
0.1 -8.058889769570351 0.34
1 -3.1331542783778734 0.34
5 -0.8410867974609664 0.35
10 -0.4381172316101039 0.35

**Answer = 0**

## Q5

In [101]:
seeds_list = []

for seeds in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:

    idx = np.arange(n)
    np.random.seed(seeds)
    np.random.shuffle(idx)

    df_train = df.iloc[idx[:n_train]].copy()
    df_val = df.iloc[idx[n_train:n_train+n_val]].copy()
    df_test = df.iloc[idx[n_train+n_val:]].copy()

    df_train = df_train.reset_index(drop=True)
    df_val = df_val.reset_index(drop=True)
    df_test = df_test.reset_index(drop=True)
    
    y_train = np.log1p(df_train.median_house_value.values)
    y_val = np.log1p(df_val.median_house_value.values)
    y_test = np.log1p(df_test.median_house_value.values)
    
    del df_train['median_house_value']
    del df_val['median_house_value']
    del df_test['median_house_value']
    
    X_train = prepare_X(df_train, fillna_num=0)
    w0, w = train_linear_regression(X_train, y_train)

    X_val = prepare_X(df_val, fillna_num=0)
    y_pred = w0 + X_val.dot(w)
    rmse_value = np.round(rmse(y_val, y_pred),3)
    
    seeds_list.append(rmse_value)
    
    print(seeds, w0, rmse_value)

0 -9.870068970994627 0.338
1 -9.114011209926476 0.338
2 -9.911560201090367 0.338
3 -10.23318368166725 0.332
4 -9.174763450323402 0.339
5 -10.006648303751325 0.343
6 -10.039903099714731 0.339
7 -10.353545444809376 0.347
8 -9.89941616712748 0.351
9 -9.964622125939913 0.334

In [102]:
np.round(np.std(seeds_list),3)

0.005

**Answer = 0.005**

## Q6

In [98]:
idx = np.arange(n)
np.random.seed(9)
np.random.shuffle(idx)

df_train = df.iloc[idx[:n_train]].copy()
df_val = df.iloc[idx[n_train:n_train+n_val]].copy()
df_test = df.iloc[idx[n_train+n_val:]].copy()

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
    
y_train = np.log1p(df_train.median_house_value.values)
y_val = np.log1p(df_val.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)
    
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']
    
X_train = prepare_X(df_train, fillna_num=0)
w0, w = train_linear_regression_reg(X_train, y_train, r=0.001)

X_test = prepare_X(df_test, fillna_num=0)
y_pred = w0 + X_test.dot(w)
rmse_value = np.round(rmse(y_test, y_pred),2)

In [100]:
rmse_value

0.33

**Answer = 0.33**